nav{
    height: 60px;
    width: 100%;
    background-color: rgba(46, 139, 87,0.8);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.navbar{
    padding: 15px 10px;
    display: flex;
    justify-content: flex-end;
}
.NavigationItem{
    margin-right: 20px;
}
.NavigationItem a{
    color: #fff;
    font-weight: 500;
}
.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    color: rgba(256, 256, 173,0.9);
}